section ul{
    margin:0px;
    paddin:0px;
    list-style:none;
    text-align: center;
}
section ul li{
    text-align:center;
    display:inline-block;
    width:200px;
    ;
    padding:5px; }
section li a{
    display:block;
    text-decoration:none;
    text-align: center;
    boder-radius:8px;
}
.rotarY{
    transform:rotateY(0deg);
    transition-duration: 2s;
    -webkit-transform:rotateY(0deg);
    -webkit-transition-duration: 2s;
}
.rotarY:hover{
    transform:rotateY(180deg);
    transition-duration: 2s;
    -webkit-transform:rotateY(180deg);
    -webkit-transition-duration: 2s;
}

.lista {
    font-famly: fantasy;
    color: aqua;

}
.slider{
    width: 100%;
    height: 100%;
}

 a img{
      width: 60px;
    height: 60px;
}

p:not(.footer){
    text-align: justify;
}
.banderas{
     width: 100%;
    height: 100%;
    
}

label{
   text-align: center;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-style: inset;
    border-width: 1px;
}

strong{
    color:#4B8A08;
}